<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img
        src="https://pbs.twimg.com/media/G8Qog--XoAY7sc_?format=jpg&name=small"
        alt="Logo Amaika">
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/quienes-somos">
        <i class="fas fa-users"></i>Quiénes Somos
      </a>
    </li>

    <li>
      <a routerLink="/mapa">
        <i class="fas fa-map-marker-alt"></i> Puntos de Venta
      </a>
    </li>

    <!--<li>
      <a routerLink="/IA">
        <i class="fas fa-robot"></i> Buscador de Recetas Inteligente
      </a>
    </li>-->

    <li>
      <a routerLink="/simulador">
        <i class="fas fa-flask"></i> Simulador de Sabores
      </a>
    </li>
    <li>
      <a routerLink="/galeriasFotos">
        <i class="fas fa-images"></i> Galería
      </a>
    </li>
    <li>
      <a routerLink="/resenas">
        <i class="fas fa-star"></i> Reseñas
      </a>
    </li>
    <li>
      <a routerLink="/blog">
        <i class="fas fa-book-open"></i> Blog
      </a>
    </li>
    <li>
      <a routerLink="/datos">
        <i class="fas fa-envelope"></i> Contacto
      </a>
    </li>
  </ul>
</nav>