/* simulador.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #ffe4ec, #fff0f5);
  display: flex;
  flex-direction: column;
}

/* Contenedor principal */
.simulador {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom right, #ffe4ec, #fff0f5);
  border-radius: 12px;
  padding-top: 130px;
}

/* Título */
.simulador h2 {
  font-size: 2rem;
  color: #d94d9b;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 2px #fff;
}

/* Contenedor de selects */
.selector {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
}

.selector select {
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: 2px solid #d94d9b;
  background-color: #fff;
  font-size: 1rem;
  color: #d94d9b;
}

.selector button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 12px;
  background-color: #d94d9b;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.selector button:hover {
  transform: scale(1.05);
}

/* Resultado */
.resultado {
  animation: rebote 0.8s ease;
}

.resultado h3 {
  font-size: 1.5rem;
  color: #d94d9b;
}

.resultado p {
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 1rem;
}

.gelatina-img {
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(217, 77, 155, 0.4);
}

/* Animación tipo rebote */
@keyframes rebote {
  0% { transform: scale(1); }
  30% { transform: scale(1.1); }
  60% { transform: scale(0.95); }
  100% { transform: scale(1); }
}



/* Labels */
.selector label {
    font-weight: bold;
    font-size: 1.1rem;
    color: #41152d;
    margin-bottom: 0.3rem;
    text-align: left;
}


/* Footer fijo */
footer {
  background-color: #d94d9b;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: auto;
}